<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

    <header class="ihomeActive">
        <img class="nav-logo" src=<%=require("./logo-placeholder.svg")%>>
        <svg viewBox="0 0 24 24">
            <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
        </svg>
        
        <nav>
            <ul>
                <li><a class="nav-link" data-nav-type="home">Home</a></li>
                <li><a class="nav-link" data-nav-type="about us">About us</a></li>
                <li><a class="nav-link" data-nav-type="menu">Menu</a></li>
                <li><a class="nav-link" data-nav-type="reservation">Reservation</a></li>
                <li><a class="nav-link" data-nav-type="contact us">Contact us</a></li>
            </ul>
        </nav>
    
    </header>

    <main>

    </main>
    
    <footer>
        <ul>
            <li>Contact</li>
            <li>
                <svg viewBox="0 0 24 24">
                    <path fill="currentColor" d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z" />
                </svg>
                Number, Street address, Postal Code, City, Country
            </li>
            <li>
                <svg viewBox="0 0 24 24">
                    <path fill="currentColor" d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z" />
                </svg>
                253-1##-####</li>                
            <li>
                <svg viewBox="0 0 24 24">
                    <path fill="currentColor" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
                </svg>
                info@myrestaurant.com
            </li>
        </ul>

        <ul>
            <li>Open</li>
            <li>Monday-Friday 9:00 - 01:00</li>
            <li>Saturday 9:00 - 02:30</li>
            <li>Sunday 10:30 - 1:00</li>
         </ul>

        <ul>
            <li>Links</li>
            <li><a class="nav-link" data-nav-type="home">Home</a></li>
            <li><a class="nav-link" data-nav-type="about us">About us</a></li>
            <li><a class="nav-link" data-nav-type="menu">Menu</a></li>
            <li><a class="nav-link" data-nav-type="reservation">Reservation</a></li>
            <li><a class="nav-link" data-nav-type="contact us">Contact us</a></li>
        </ul>

        <ul>
            <li>Social</li>
            <li><a href="https://www.facebook.com">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" style=" fill:currentColor">
                    <path d="M25,3C12.85,3,3,12.85,3,25c0,11.03,8.125,20.137,18.712,21.728V30.831h-5.443v-5.783h5.443v-3.848 c0-6.371,3.104-9.168,8.399-9.168c2.536,0,3.877,0.188,4.512,0.274v5.048h-3.612c-2.248,0-3.033,2.131-3.033,4.533v3.161h6.588 l-0.894,5.783h-5.694v15.944C38.716,45.318,47,36.137,47,25C47,12.85,37.15,3,25,3z"></path>
                </svg>
                Facebook
            </a></li>
            <li><a href="https://www.instagram.com">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" style=" fill:currentColor">    
                    <path d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"></path>
                </svg>
                Instagram
            </a></li>
            <li><a href="https://www.twitter.com">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" style=" fill:currentColor">    
                    <path d="M25,2C12.317,2,2,12.317,2,25s10.317,23,23,23s23-10.317,23-23S37.683,2,25,2z M36.237,20.524 c0.01,0.236,0.016,0.476,0.016,0.717C36.253,28.559,30.68,37,20.491,37c-3.128,0-6.041-0.917-8.491-2.489 c0.433,0.052,0.872,0.077,1.321,0.077c2.596,0,4.985-0.884,6.879-2.37c-2.424-0.044-4.468-1.649-5.175-3.847 c0.339,0.065,0.686,0.1,1.044,0.1c0.505,0,0.995-0.067,1.458-0.195c-2.532-0.511-4.441-2.747-4.441-5.432c0-0.024,0-0.047,0-0.07 c0.747,0.415,1.6,0.665,2.509,0.694c-1.488-0.995-2.464-2.689-2.464-4.611c0-1.015,0.272-1.966,0.749-2.786 c2.733,3.351,6.815,5.556,11.418,5.788c-0.095-0.406-0.145-0.828-0.145-1.262c0-3.059,2.48-5.539,5.54-5.539 c1.593,0,3.032,0.672,4.042,1.749c1.261-0.248,2.448-0.709,3.518-1.343c-0.413,1.292-1.292,2.378-2.437,3.064 c1.122-0.136,2.188-0.432,3.183-0.873C38.257,18.766,37.318,19.743,36.237,20.524z"></path>
                </svg>
                Twitter
            </a></li>
         </ul>

        <form action="">
            <h3>Newsletter</h3>
            <label for="newsletter">Subscribe to our newsletter</label>
            <div>
                <input type="email" name="newsletter" id="newsletter" placeholder="example@gmail.com">
                <button type="submit">Subscribe</button>
            </div>
            
        </form>


        <div>
            <p>Copyright &copy; Batouchan Omer, 2022 
                <a href="https://github.com/batoomer"><img src=<%=require("./GitHub-Mark-Light-32px.png")%> alt="GitHub"></a>
            </p>
        </div>
    </footer>
</body>
</html>